<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
<!-- <add name="LogisticsEntities" connectionString="metadata=res://*/DAL.LogisticsSQL.csdl|res://*/DAL.LogisticsSQL.ssdl|res://*/DAL.LogisticsSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIENCODE-1\SQLEXPRESS2014;initial catalog=Logistics;persist security info=True;user id=logistics;password=njasdhjad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DbgLogisticsEntities" connectionString="Data Source=BRIX-PC\SQLSERVER2014B;Initial Catalog=Logistics;Persist Security Info=True;integrated security=true;MultipleActiveResultSets=True;App=Logistics" providerName="System.Data.EntityClient" />-->
    <add name="DWTEntities" connectionString="metadata=res://*/DAL.DWTTransport.csdl|res://*/DAL.DWTTransport.ssdl|res://*/DAL.DWTTransport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRIX-PC\SQLSERVER2014B;initial catalog=DWT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DbgLogisticsEntities" connectionString="Data Source=KENEXIAM\SQLEXPRESS;Initial Catalog=Logistics;Persist Security Info=True;integrated security=true;MultipleActiveResultSets=True;App=Logistics" providerName="System.Data.EntityClient" />-->
    <!--<add name="DWTEntities" connectionString="metadata=res://*/DAL.DWTTransport.csdl|res://*/DAL.DWTTransport.ssdl|res://*/DAL.DWTTransport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KENEXIAM\SQLEXPRESS;initial catalog=DWT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="devbctest01@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="devbctest01@gmail.com" password="Pool_Intervention" defaultCredentials="false" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="DbgLogisticsEntities"
          applicationName="Logistics"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          minRequiredPasswordLength="1"
          minRequiredNonalphanumericCharacters="0"
          passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
  
  <appSettings>
    <add key ="ftpServer" value="kenexiam.com"/>
    <add key ="ftpServerFolderImport" value="Sentinel/Import"/>
    <add key ="ftpServerFolderexport" value="Sentinel/Export"/>
    <add key ="ftpServerProcessedFolder" value="done/"/>
    <add key="ftpServerErrorFolder" value="error/"/>
    <add key ="ftpUser" value="sentinel@kenexiam.com"/>
    <add key="ftpPassword" value="Sentinel321*"/>

    <add key="EMailSendTo_GRACE" value="dgoldstraw@n-f-s.co.uk;helen.parry@grace.com"/>
    <add key="EMailSendTo_SENT" value="dgoldstraw@n-f-s.co.uk;Chris.Fairclough@sentinel-solutions.net;susan.quinn@sentinel-solutions.net"/>
      <add key="SiteBaseUrl" value="http://81.149.14.198:8002/"/>
  </appSettings>
</configuration>
